<html>
    <head>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    </head>
    <body style="background-attachment: fixed; background-image: url('https://media-exp1.licdn.com/dms/image/C4D1BAQGat2o3SZblTQ/company-background_10000/0?e=2159024400&v=beta&t=lxoW-w75jY2G642ZY1Q9WiDgjYlt5VonrMkcn4U2pdI'); height: 100%; background-position: center; background-repeat: no-repeat; background-size: cover;">
    <div class="container">

    <form class="well form-horizontal" action=" " method="post"  id="contact_form">
        <fieldset>

        <legend><center><h2><b>Reband Setup</b></h2></center></legend><br>

        <center><h4>Create Account</h4></center>

        <div class="form-group">
          <label class="col-md-4 control-label">Username</label>
          <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input  name="user_name" placeholder="Username" class="form-control"  type="text">
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" >Password</label>
            <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input name="user_password" placeholder="Password" class="form-control"  type="password">
            </div>
          </div>
        </div>

        <center><h4 style="margin-top: 30px;">Network Credentials</h4></center>

        <div class="form-group">
          <label class="col-md-4 control-label">SSID</label>
          <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
          <input  name="user_name" placeholder="Username" class="form-control"  type="text">
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" >Password</label>
            <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
          <input name="user_password" placeholder="Password" class="form-control"  type="password">
            </div>
          </div>
        </div>

        <center><button type="submit" class="btn btn-primary" style="background-color: orange; border: orange; width: 100px; margin-top: 30px;">Submit</button></center>

        </fieldset>
        </form>
        </div>
    </div>
    </body>
</html>